  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:ital@1&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img{
    height: 250px;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style-type: none;
}

.nav-bar{
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav-list{
    display: none;
}

.nav-list ul{
    display: flex;
    list-style-type: none;
}

.nav-list a{
    margin: 0 1rem;
}

.nav-list a:hover{
    color: green;
}

.res-icon{
    display: block;
}

#header{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-social{
    position: fixed;
    top: 30%;
}

.sticky-social ul li{
    background-color: chartreuse;
    border: 1px blue solid;
}

.sticky-social ul a{
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
}

.sticky-social a:hover{
    color: orange;
}

.container{
    text-align: center;
    height: 30vh;
    width: 50vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container a{
    background-color: magenta;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container a:hover{
    background-color: yellow;
}

#products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.nav-products{
    width: 100vw;
    background: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 1rem 0;
}

.nav-products ul{
    display: flex;
}

.nav-products ul a{
    margin: 0 1rem;
}

.nav-products ul a:hover{
    color: blue;
}

.nav-products a.active{
    border-bottom: 2px solid green;
}

.main-products{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.book-card{
    width: 20%;
    height: 20%;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.book-card img{
    width: 100%;
}

.book-card h1{
    text-align: center;
    padding: 1rem;
}

.book-card a{
    color: brown;
}

.book-card a:hover, .book-card img:hover{
    color: blueviolet;
}

.browse-all{
    background: olivedrab;
    padding: 0.8rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.browse-all:hover{
    color: red;
}

#newsletter{
    background-color: crimson;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.newsletter-form input{
    width: 20vw;
    padding: 0.8rem 1rem;
    border: none;
}

.newsletter-form button{
    border: 1px red solid;
    padding: 0.8rem 1rem;
    cursor: pointer;
    background: red;
}

.newsletter-form button:hover{
    border: 1px yellow solid;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem; 
    background-color: chocolate;
}

#footer ul{
    display: flex;
}

#footer li{
    margin: 0 1rem;
}

#footer li, #footer a{
    color: aqua;
}

#footer a:hover{
    color: palegreen;
}

.social-foot i{
    font-size: 1.4rem;
}

.scroll-top{
    display: none;
    position: fixed;
    padding: 1rem 1.4rem;
    background: yellow;
    border-radius: 50%;
    right: 5%;
    bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}