  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:ital@1&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img{
    height: 250px;
}

a{
    text-decoration: none;
    color: #000;
}

li{
    list-style-type: none;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #181823;
    position: fixed;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    color: #537FE7;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav-title a{
    color: #E9F8F9;
  }

  .nav-title a:hover{
    color: #537FE7;
  }

#header{
    width: 100vw;
    height: 100vh;
    background-image: url('./sober.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    height: 30vh;
    width: 50vw;
    background-color: #181823d2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #E9F8F9;
}

.container a{
    background-color: #C0EEF2;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: solid 2px #181823;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container a:hover{
    background-color: #181823;
    color: #C0EEF2;
    border: solid 2px #C0EEF2;
}

#products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.browse{
    padding-top: 2rem;
}

.nav-products{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 1rem 0;
}

.nav-products ul{
    display: flex;
}

.nav-products ul a{
    margin: 0 1rem;
}

.nav-products ul a:hover{
    color: #537FE7;
}

.nav-products a.active{
    border-bottom: 2px solid #181823;
}

.main-products{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.book-card{
    width: 18%;
    height: 20%;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.book-card img{
    width: 100%;
}

.book-card h1{
    text-align: center;
    padding: 1rem;
}

.book-card a{
    color: #537FE7;
}

.book-card a:hover, .book-card img:hover{
    color: #181823;
}

.browse-all{
    background: #C0EEF2;
    padding: 0.8rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.browse-all:hover{
    color: #537FE7;
}

#newsletter{
    background-color: #181823;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #E9F8F9;
}

.newsletter-form input{
    width: 20vw;
    padding: 0.8rem 1rem;
    border: none;
}

.newsletter-form button{
    border: 1px #C0EEF2 solid;
    padding: 0.8rem 1rem;
    cursor: pointer;
    background: #E9F8F9;
}

.newsletter-form button:hover{
    border: 1px #537FE7 solid;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; 
    background-color: #181823;
}

#footer ul{
    display: flex;
}

#footer li{
    margin: 0 0.4rem;
}

#footer li, #footer a{
    color: #C0EEF2;
}

#footer a:hover{
    color: #537FE7;
}

.social-foot i{
    font-size: 1.4rem;
}

.scroll-top{
    display: none;
    position: fixed;
    padding: 1rem 1.4rem;
    background: #C0EEF2;
    border-radius: 50%;
    right: 2%;
    bottom: 16%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.scroll-top:hover{
    background: #537FE7;
    color: #E9F8F9;
}

@media only screen and (max-width: 768px){
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }

    .main-products{
        width: 90vw;
    }
    
    .book-card{
        width: 35%;
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .newsletter-form input{
        width: 40vw;
    }

    #footer{
        justify-content: space-around;
    }

    #footer li{
        margin: 0 6px;
        font-size: 0.8rem;
    }

    .social-foot i{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px){
    .container{
        height: 40vh;
        width: 90vw;
    }

    .main-products{
        width: 90vw;
    }
    
    .book-card{
        width: 60%;
    }

    .newsletter-form input{
        width: 60vw;
    }

    #footer{
        flex-direction: column;
    }

    .social-foot i{
        font-size: 1.6rem;
    }
}